@media only screen and (max-width: 768px) {

   
  

    
  
   
}
@media only screen and (min-width: 768px) and (max-width: 992px) {


    
   


 
  
}
@media only screen and (min-width: 992px) {
   
    #nhung
    {
        display: inline;
        margin-top: 10px;
        border: 1px solid;
        
      
    }
    #nhung1
    {
        display: inline;
        margin-top: 10px;
        border: 1px solid;
        padding-top: 100px;
    }
     .mglh
     {
         margin-top: 20px;
     }
       
    
    
  
}



